<div class="container-fluid" style="margin:0px;">
    <div class="row bannercolor">
      <div class="col-md-12">
          <img class="bannerimg" src="../assets/images/dllogo.png">
      </div>
    </div>
    <div class="row dltxtdiv">
      <div class="col-md-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                  <p class="Digital-Lync-Welcome">Digital Lync<br>Welcomes<br>You To</p>                
              </div>
              <div class="col-md-1 vl"></div>
              <div class="col-md-1 vl"></div>
              <div class="col-md-1 vl"></div>
              <div class="col-md-6 formbox">
                <p class="regFormTxt">Login</p>
                <form [formGroup]="loginForm" novalidate>                   
                    <div class="form-group">                     
                        <input class="form-control" formControlName="email" placeholder="Email">                      
                    </div> 
                    <div class="form-group">                     
                        <input class="form-control" formControlName="password" placeholder="Passsword">                      
                        <a routerLink="/resetpwd" routerLinkActive="active">Reset your password ?</a>
                    </div>                    

                    <div class="form-group">    
                        <button (click)="registerData();" [disabled]="!loginForm.valid" class="btn btn-primary">Proceed</button>
                        <!-- <button type="button" (click)="revert()" [disabled]="loginForm.pristine" class="btn btn-danger">Revert</button> -->
                    </div>
  
                </form>              
                <p>Form value: {{ loginForm.value | json }}</p>
                <p>Form status: {{ loginForm.status | json }}</p>
                <p>Form status: {{ loginForm.valid | json }}</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>