<div class="container-fluid" style="margin:0px;">
    <div class="row bannercolor">
      <div class="col-md-12">
          <img class="bannerimg" src="../assets/images/dllogo.png">
      </div>
    </div>
    <div class="row dltxtdiv">
      <div class="col-md-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                  <p class="Digital-Lync-Welcome">Digital Lync<br>Welcomes<br>You To</p>                
              </div>
              <div class="col-md-1 vl"></div>
              <div class="col-md-1 vl"><p class="txtVertical">F<br>U<br>L<br>L<br>S<br>T<br>A<br>C<br>K</p></div>
              <div class="col-md-1 vl"><p class="txtVertical">W<br>O<br>R<br>K<br>S<br>H<br>O<br>P</p></div>
              <div class="col-md-6 formbox">
                <p class="regFormTxt">Login</p>
                <form [formGroup]="loginForm" novalidate>  
                    <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                        <div class="form-group">                     
                                            <input id="emailid" class="form-control" formControlName="email" placeholder="Email">                      
                                        </div> 
                                </div>
                                <div class="col-md-6">
                                        <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched" class="errormsg">                
                                                <div *ngIf = "loginForm.controls.email.errors?.required">
                                                    email field can't be blank
                                                </div>                
                                                <div *ngIf = "loginForm.controls.email.errors?.pattern">
                                                    email is invalid
                                                </div>                
                                          </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                        <div class="form-group">                     
                                            <input class="form-control" formControlName="password" placeholder="Passsword">                      
                                            <a class="resettxt" routerLink="/resetpwd" routerLinkActive="active">Reset your password ?</a>
                                        </div> 
                                </div>
                                <div class="col-md-6">
                                        <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
                                                <p class="errormsg">password needs to be more than 8 characters</p>
                                        </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">    
                                        <button (click)="loginData();" [disabled]="!loginForm.valid" class="btn btn-primary">Proceed</button>                        
                                    </div>
                                </div>
                                <div class="col-md-6">
                                        <div *ngIf="!successlogin">
                                            <p class="errormsg">Invalid Email Or password</p>
                                        </div>
                                </div>
                            </div>
                    </div>
                </form>              
                <!-- <p>Form value: {{ loginForm.value | json }}</p>
                <p>Form status: {{ loginForm.status | json }}</p>
                <p>Form status: {{ loginForm.valid | json }}</p> -->
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>