<div class="container-fluid" style="margin:0px;">
    <div class="row bannercolor">
      <div class="col-md-12">
          <img class="bannerimg" src="../assets/images/dllogo.png">
      </div>
    </div>
    <div class="row dltxtdiv">
      <div class="col-md-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                  <p class="Digital-Lync-Welcome">Digital Lync<br>Welcomes<br>You To</p>                
              </div>
              <div class="col-md-1 vl"></div>
              <div class="col-md-1 vl"><p class="txtVertical">F<br>U<br>L<br>L<br>S<br>T<br>A<br>C<br>K</p></div>
              <div class="col-md-1 vl"><p class="txtVertical">W<br>O<br>R<br>K<br>S<br>H<br>O<br>P</p></div>
              <div class="col-md-6 formbox">
                <p class="regFormTxt">Password Setting</p>
                <form [formGroup]="resetpwdForm" novalidate>  
                    <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                        <div class="form-group">                     
                                            <input class="form-control" formControlName="password" placeholder="Enter Passsword">                                                                  
                                        </div> 
                                </div>
                                <div class="col-md-6">
                                        <div *ngIf="resetpwdForm.controls.password.invalid && resetpwdForm.controls.password.touched">
                                                <p class="errormsg">password needs to be more than 8 characters</p>
                                        </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                        <div class="form-group">                     
                                            <input class="form-control" formControlName="confirmPwd" placeholder="Retype Passsword" 
                                            (change)="validate();">                                                                  
                                        </div> 
                                </div>
                                <div class="col-md-6">
                                        <div *ngIf="resetpwdForm.controls.confirmPwd.invalid && resetpwdForm.controls.confirmPwd.touched">
                                                <p class="errormsg">password needs to be more than 8 characters</p>
                                        </div>
                                        <div *ngIf="resetpwdForm.controls.confirmPwd.touched && (!matchvalid)">
                                            <p class="errormsg">Passwords don't match</p>
                                        </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">    
                                        <button (click)="resetPassword();" [disabled]="!resetpwdForm.valid" class="btn btn-primary">Proceed</button>                        
                                    </div>
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                    </div>
                </form>              
                <!-- <p>Form value: {{ resetpwdForm.value | json }}</p>
                <p>Form status: {{ resetpwdForm.status | json }}</p>
                <p>Form status: {{ resetpwdForm.valid | json }}</p> -->
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>