<div class="container-fluid">
    <div class="row bannercolor">
      <div class="col-md-12">
          <img class="bannerimg" src="../assets/images/dllogo.png">
      </div>
    </div>
    <div class="row dltxtdiv">
      <div class="col-md-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                  <p class="Digital-Lync-Welcome">Digital Lync<br>Welcomes<br>You To</p>                
              </div>
              <div class="col-md-1 vl"></div>
              <div class="col-md-1 vl"><p class="txtVertical">F<br>U<br>L<br>L<br>S<br>T<br>A<br>C<br>K</p></div>
              <div class="col-md-1 vl"><p class="txtVertical">W<br>O<br>R<br>K<br>S<br>H<br>O<br>P</p></div>
              <div class="col-md-6 formbox well">                    
                <p class="regFormTxt">Please Check Your Mail<br>To Complete This <br>process</p>   
                <img  class="smileimg" src="../assets/images/smile1.png" alt="smile">   
                <p class="regFormTxt">Thank You</p>
                <a routerLink="/thank" style="margin-left:400px;">Click Here</a>             
              </div>
            </div>           
          </div>
      </div>
    </div>
  </div>