*{
    margin:0px;
    padding:0px;
}
.listimg{
    margin:20px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    float:right;
  }
  .profiletxt{
    color:#00426f;
    font-weight: bold;
    font-size: 12px;
  }
  .profilename{
    float:left;
    margin:20px;
    font-size: 20px;
  }
  hr{
      border:1px solid lightgray;
  }
  .profileimg{    
    width: 100px;
    height: 100px;    
  }
  .profileeditimg{    
    width: 20px;
    height: 20px;    
  }
  .profiletable{
      margin:50px;   
      background-color: lightskyblue;
      color:#00426f;
      width:90%;
  }
  
  .evenrow{
      background-color: #cde8f7;
  }
  .oddrow{
    background-color: white;
}
button{
    width:70px;
    padding:5px;
    background-color: #00426f;
    color:white;
    border-radius: 5px;
    outline: none;
}
.chx {    
    background-color:#00426f;
    font-weight:bold;
    font-size:20px;
    width:20px;
    height:20px;
    color:white;
    border:none;
    cursor: auto;
}
input[type=text]{
    width:200px;
    padding:5px;
}
.fieldView{
    display:block;
}
.fieldViewToggle{
    display:none;
}
