<div class="container-fluid profiletxt">
    <div class="row">
        <div class="col-md-12">
            <p class="profilename">Sravanthi Pavuluri</p>
            <a routerLink="/login"><img class="listimg" src="../assets/images/logout.jpg"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row" *ngIf="!editclk">        
        <div class="col-md-12">
            <p></p>
            <table class="table table-stripped profiletable">
                <tr class="evenrow">
                    <td colspan="2">
                        Profile Photo<br>                        
                        <img class="profileimg" src="{{perObj.profilepic}}">
                    </td>  
                    <td></td>                  
                </tr>
                <tr class="oddrow">
                    <td>Name</td>
                    <td>:</td>
                    <td>{{perObj.name}}</td>
                </tr>
                <tr class="evenrow">
                    <td>Email</td>
                    <td>:</td>
                    <td>{{perObj.email}}</td>
                </tr>
                <tr class="oddrow">
                    <td>College</td>
                    <td>:</td>
                    <td>{{perObj.college}}</td>
                </tr>
                <tr class="evenrow">
                    <td>City</td>
                    <td>:</td>
                    <td>{{perObj.city}}</td>
                </tr>
                <tr class="oddrow">
                    <td>Working Status</td>
                    <td>:</td>
                    <td>{{perObj.workingstatus}}</td>
                </tr>
                <tr class="evenrow">
                    <td>Technologies</td>
                    <td>:</td>
                    <td>{{perObj.technologies}}</td>
                </tr>
                <tr class="oddrow">
                    <td colspan="2"><button (click)="EditProfile();">Edit</button></td>
                    <td> </td>
                </tr>
            </table>
            
        </div>
    </div>
    <div class="row" *ngIf="editclk">                    
            <div class="col-md-12">
                <!-- <form #profileForm="ngForm" novalidate>   -->
                <form class="form-horizontal" #profileForm = "ngForm">
                    <table class="table table-stripped profiletable">
                        <tr class="evenrow">
                            <td colspan="8">
                                Profile Photo<br>                        
                                <img class="profileimg" src="{{perObj.profilepic}}">
                            </td>                                               
                        </tr>
                        <tr class="oddrow">
                            <td>Name</td>
                            <td>:</td>
                            <td>
                                <!-- <label id="name" *ngIf="namelblenable">{{perObj.name}}</label>
                                <input type="text" name="txtname" [(ngModel)]="perObj.name" *ngIf="!namelblenable"> -->
                            
                                <label id="name" [ngClass]="namelblenable?'fieldView':'fieldViewToggle'">{{perObj.name}}</label>
                                <input type="text" name="txtname" [(ngModel)]="perObj.name" [ngClass]="!namelblenable?'fieldView':'fieldViewToggle'">
                            </td>
                            <td><img class="profileeditimg" src="{{perObj.profileeditpic}}" (click)="Editvalue('name');"></td>
                            <td>Email</td>
                            <td>:</td>
                            <td>
                                <label id="email" [ngClass]="emaillblenable?'fieldView':'fieldViewToggle'">{{perObj.email}}</label>                                
                                <input type="text" name="txtemail" [(ngModel)]="perObj.email" [ngClass]="!emaillblenable?'fieldView':'fieldViewToggle'">                                
                            </td>
                            <td><img class="profileeditimg" src="{{perObj.profileeditpic}}" (click)="Editvalue('email');"></td>
                        </tr>
                        <tr class="evenrow">
                            <td>City</td>
                            <td>:</td>
                            <td>
                                <label id="city" [ngClass]="citylblenable?'fieldView':'fieldViewToggle'">{{perObj.city}}</label>                                
                                <input type="text" name="txtcity" [(ngModel)]="perObj.city" [ngClass]="!citylblenable?'fieldView':'fieldViewToggle'">  
                            </td>
                            <td><img class="profileeditimg" src="{{perObj.profileeditpic}}" (click)="Editvalue('city');"></td>
                            <td>College</td>
                            <td>:</td>
                            <td>
                                <label id="college" [ngClass]="collblenable?'fieldView':'fieldViewToggle'">{{perObj.college}}</label>                                
                                <input type="text" name="txtcollege" [(ngModel)]="perObj.college" [ngClass]="!collblenable?'fieldView':'fieldViewToggle'">
                            </td>   
                            <td><img class="profileeditimg" src="{{perObj.profileeditpic}}" (click)="Editvalue('college');"></td>                             
                        </tr>
                        <tr class="oddrow">
                                <td>Specialization</td>
                                <td>:</td>
                                <td>
                                    <label id="specialization" [ngClass]="splblenable?'fieldView':'fieldViewToggle'">{{perObj.specialization}}</label>                                
                                    <input type="text" name="txtspecialization" [(ngModel)]="perObj.specialization" [ngClass]="!splblenable?'fieldView':'fieldViewToggle'">
                                </td>
                                <td><img class="profileeditimg" src="{{perObj.profileeditpic}}" (click)="Editvalue('specialization');"></td>
                                <td>Year Of Pass</td>
                                <td>:</td>
                                <td>
                                    <label id="yearofpass" [ngClass]="yoplblenable?'fieldView':'fieldViewToggle'">{{perObj.yearOfpass}}</label>                                
                                    <input type="text" name="txtyearofpass" [(ngModel)]="perObj.yearOfpass" [ngClass]="!yoplblenable?'fieldView':'fieldViewToggle'">
                                </td>
                                <td><img class="profileeditimg" src="{{perObj.profileeditpic}}" (click)="Editvalue('yearofpass');"></td>
                        </tr>
                        <tr class="evenrow">
                            <td colspan="8">
                                If you are an employee  <input type="checkbox" name="empchk" (click)="enableDisableData($event);" 
                                ng-model="checked" checked="checked">
                                <!-- If you are an employee  <input   type="input"   name="c"   value="&#8730;"   class="chx" 
                                  onclick="this.value=this.value=='&#8730;'?'':'&#8730;';"   readonly> -->
                            </td>
                        </tr>
                       
                        <tr class="oddrow" *ngIf="!empDisable">
                            <td>Organization Name</td>
                            <td>:</td>
                            <td>
                                <label id="organization" [ngClass]="orglblenable?'fieldView':'fieldViewToggle'">{{perObj.orgName}}</label>                                
                                <input type="text" name="txtorganization" [(ngModel)]="perObj.orgName" [ngClass]="!orglblenable?'fieldView':'fieldViewToggle'">
                            </td>
                            <td><img class="profileeditimg" src="{{perObj.profileeditpic}}" (click)="Editvalue('organization');"></td>
                            <td>Work Experience</td>
                            <td>:</td>
                            <td>
                                <label id="work" [ngClass]="wrklblenable?'fieldView':'fieldViewToggle'">{{perObj.wrkexp}}</label>                                
                                <input type="text" name="txtwork" [(ngModel)]="perObj.wrkexp" [ngClass]="!wrklblenable?'fieldView':'fieldViewToggle'">
                            </td>  
                            <td><img class="profileeditimg" src="{{perObj.profileeditpic}}" (click)="Editvalue('work');"></td>                          
                        </tr>
                        <tr class="evenrow" *ngIf="!empDisable">
                            <td>Technologies</td>
                            <td>:</td>
                            <td>
                                <label id="technology" [ngClass]="techlblenable?'fieldView':'fieldViewToggle'">{{perObj.technologies}}</label>                                
                                <input type="text" name="txttechnology" [(ngModel)]="perObj.technologies" [ngClass]="!techlblenable?'fieldView':'fieldViewToggle'">
                            </td>
                            <td><img class="profileeditimg" src="{{perObj.profileeditpic}}" (click)="Editvalue('technology');"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="oddrow">
                            <td colspan="8"><button (click)="SaveProfile();">Save</button></td>                            
                        </tr>
                    </table>
                   </form>
                   <!-- <p>Form value: {{ profileForm.value | json }}</p> -->
                </div>
    </div>
</div>