<div class="container-fluid profiletxt">
    <div class="row">
        <div class="col-md-12">
            <p class="profilename">Sravanthi Pavuluri</p>
            <a routerLink="/login"><img class="listimg" src="../assets/images/logout.jpg"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">        
        <div class="col-md-12">
            <table class="table table-stripped profiletable">
                <tr class="evenrow">
                    <td colspan="2">
                        Profile Photo<br>                        
                        <img class="profileimg" src="{{perObj.profilepic}}">
                    </td>  
                    <td></td>                  
                </tr>
                <tr class="oddrow">
                    <td>Name</td>
                    <td>:</td>
                    <td>{{perObj.name}}</td>
                </tr>
                <tr class="evenrow">
                    <td>Email</td>
                    <td>:</td>
                    <td>{{perObj.email}}</td>
                </tr>
                <tr class="oddrow">
                    <td>College</td>
                    <td>:</td>
                    <td>{{perObj.college}}</td>
                </tr>
                <tr class="evenrow">
                    <td>City</td>
                    <td>:</td>
                    <td>{{perObj.city}}</td>
                </tr>
                <tr class="oddrow">
                    <td>Working Status</td>
                    <td>:</td>
                    <td>{{perObj.workingstatus}}</td>
                </tr>
                <tr class="evenrow">
                    <td>Technologies</td>
                    <td>:</td>
                    <td>{{perObj.technologies}}</td>
                </tr>
                <tr class="oddrow">
                    <td colspan="2"><button>Edit</button></td>
                    <td> </td>
                </tr>
            </table>
        </div>
    </div>
</div>