<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron boxprop">
          <p class="paratxt">Hi Sravanthi Pavuluri</p>
          <p></p>
          <p class="paratxt">Thank You</p>
          <p class="paratxt">You Are Successfully</p>
          <p class="paratxt">Registered into</p>
          <p class="paratxt">FullStack Workshop</p>
          <button class="btncls" (click)="callCreatePassword();">Create Password</button>
      </div>
    </div>
  </div>
</div>