<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <div class="container-fluid">
        <div class="row">
          <img class="bannerimg" src="../assets/images/dllogo1.png">          
        </div>
        <div class="row rowbg">
            <img class="listimg" src="../assets/images/users.jpg">
            <a routerLink="users" class="linktxt">Users</a>
        </div>
        <div class="row rowbg1">
          <img class="listimg" src="../assets/images/profile.jpg">
          <a routerLink="profile" class="linktxt">Profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-10 bgcontent">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>